.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    margin: 1rem auto;
    width: 55vw;
    background-color: white;
}



.wrapper {
    display: inline-block;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox {
    display: inline-block;
}
input {
    width: 2rem;
    height: 2rem;
    accent-color: #9CAF88;
}

