.taskbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 0.5rem;
}

.taskform {
    width: 50vw;
    border-color: black;
    border-width: 0 0 0.1rem 0;
}

.taskform:focus{
    outline: none;
}
.taskform::placeholder {
    color: blue;
}